.menue{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    margin: 50px;
}

.log-out button{
    margin: 20px;
}
.filter{
    text-align: center;
}
.filter-option{
margin: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}