<div class="log-out">
    <button type="button" class="btn btn-danger">Log-Out</button>
    <app-FriendIcon [UserId]="userId"></app-FriendIcon>
    
</div>
<div class="menue">
        <select [(ngModel)]="selectedDisplay">
            <option>Display Map</option>
            <option>Display Fid</option>
        </select>
    <button type="button" class="btn btn-primary">Notification</button>
    <button (click)="navigateToPostEditor()"  type="button" class="btn btn-primary">Create New Post</button>
    <button type="button" class="btn btn-primary">Manage Friends</button>
    <button type="button" class="btn btn-primary">My Profile</button>
</div>
<div class="content">
    <div class="filter">
        <h1>Filter Posts By :</h1>
        <div class="filter-option">
            <h3>Publish Date</h3>
            <div>
                <label>From :</label>
                <input type="datetime-local">
            </div>
            <div>
                <label>To :</label>
                <input type="datetime-local">
            </div>
        </div>
        <div class="filter-option">
            <h3>Radius From My Location</h3>
            <div>
                <label>Select Radius in k"m : </label>
                <input type="number">
            </div>
        </div>
        <div class="filter-option">
            <h3>Image Tags</h3>
            <div>
                <label>Insert Tags Sepperated By Commas : </label>
                <input type="text">
            </div>
        </div>
        <div class="filter-option">
            <h3>Users Tags</h3>
            <div>
                <label>Insert Tags Sepperated By Commas : </label>
                <input type="text">
            </div>
        </div>
    </div>
    
    <div >
        <app-GeneralPost [selectedDisplay]="selectedDisplay"></app-GeneralPost>
    </div>
   
    
</div>

