<div class="main">
<div class="menue">
    <div class="userDetails">
        <img src={{user.ProfilePicture}}>
        <h3>{{user.UserName}}</h3>
    </div>
        <select [(ngModel)]="selectedDisplay">
            <option>Display Map</option>
            <option>Display Fid</option>
        </select>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
    <button type="button" class="btn btn-primary">Notification</button>
    <button (click)="navigateToPostEditor()" [lang]="" type="button" class="btn btn-primary">Create New Post</button>
    <button type="button" class="btn btn-primary">Manage Friends</button>
    <button type="button" class="btn btn-primary" (click)="onProfile()">My Profile</button>
    <button type="button" (click)="logOut()" class="btn btn-danger">Log-Out</button>
</div>
<div class="content">
    <div>
        <app-PostFilter ></app-PostFilter>
    </div>
    <div class="content-item" >
        <app-GeneralPost [selectedDisplay]="selectedDisplay"></app-GeneralPost>
        
    </div>
</div>
</div>