.full{
    width: 100vw;
    height: 100vh;
}
#map{
    width:1000px;
    height: 1000px;
}
.userPostDetails{
    display: flex;
    justify-content: space-between;
}
.post-detailes{
    text-align: center;
}
h1{
    color:green
}