.full{
    width: 100vw;
    height: 100vh;
    color: b;
    /* text-align: center; */
    /* align-items: center; */
}
#map{
    width:550px;
    height:550px;
    margin-right: 100px;
    box-shadow: 0px 0px 8px 8px rgba(9, 0, 0, 0.2);
    border-radius: 50%;
    margin-top: 28%;
    
    
}
.userPostDetails{
    display: flex;
    justify-content: space-between;
}
.post-detailes{
    text-align: center;
}
h1{
    color:green
}
.showWindow{
    background-color: aliceblue;
}
.img{
    border-radius: 50%;
}