.fidBox{
    width: 80%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin-left: 5%;
    padding: 5%;
    margin-top: 28%;
    background-color: white;

}
.fidBox img{
    width: 300px;
    height: 200px;
    border-radius: 20px;

}