<div class="filter">
    <div class="filter-option">
        <h3>Publish Date</h3>
        <div>
            <label>From :</label>
            <input type="date" [(ngModel)]="fromDay" value={{fromDay}} (change)="fromDateChange(fromDay)">
        </div>
        <div>
            <label>To :</label>
            <input type="date" [(ngModel)]="toDay" value={{toDay}} (change)="toDateChange(toDay)">
            
        </div>
    </div>
    <div class="filter-option">
        <h3>Radius From My Location</h3>
        <div>
            <label>Select Radius in k"m : </label>
            <input type="range" step="5" max="500" min="5" [(ngModel)]="radius" (change)="displayRadius(radius)">
            <div>
                <label>{{radius}}</label>
            </div>
        </div>
    </div>
    <div class="filter-option">
        <h3>Image Tags</h3>
        <div>
            <label>Insert Tags Sepperated By Commas : </label>
            <input type="text">
        </div>
    </div>
    <div class="filter-option">
        <h3>Users Tags</h3>
        <div>
            <label>Insert Tags Sepperated By Commas : </label>
            <input type="text">
        </div>
    </div>
</div>
